body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}

.container-fluid {
    height: 80%;
    padding-top: 25px;
    padding-bottom: 100px;
}

.question {
    font-style:normal;  
}

.container-main {
    height:100vh;
    min-width: 57.5em;
}

.container-footer {
    height: 10%;
    padding-top: 25px;
    padding-bottom: 20px;
}

.navbar-new {
    height: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0px; 
    font-size: 12px;
    letter-spacing: 0px;
}

.pelota-container {
    float: left;
    font-size: 1.25em;
    height: 2.5em;
    line-height: 2.5em;
}

.bolsa-container {
    float: left;
    font-size: 1.25em;
    height: 6.0em;
    line-height: 2.5em;
}

.pelota-roja {
    background-color: indianred;
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
}

.pelota-azul {
    background-color: dodgerblue;
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
}

.pelota-verde {
    background-color: forestgreen;
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em; 
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-1 { 
    background-color: #1abc9c; /* Verde */
    color: #ffffff;
}

.bg-2 { 
    background-color: #474e5d; /* Azul Oscuro */
    color: #ffffff;
}

.bg-3 { 
    background-color: #ffffff; /* Blanco */
    color: #555555;
}

.bg-4 { 
    background-color: #2f2f2f; /* Gris Muy Oscuor */
    color: #ffffff;
}
.texto-problema {
    
}

.redondear-esquinas {
    border-radius: 25px;
}

.container-pelotas {
    height: 10em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.row-pelotas{
    padding-left: 17.5%;
    padding-right: 12.5%;
}

.btn-principal {
    background-color: #2f2f2f;
    color: aliceblue;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-principal:hover { 
    background-color: whitesmoke;
    color: aliceblue;
    border-color: #2f2f2f;
}

.pelota {
        margin-right: 1em;
}


